<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
     xmlns:p="http://www.springframework.org/schema/p"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

	<bean id="person" class="spring.main.Person">
		<property name="name" value="Jaicky"/>
	</bean>
		  
	<bean id ="employee" 
		  class="spring.main.Employee" 
		  lazy-init="true" 
		  scope="singleton" 
		  init-method="init" 
		  destroy-method="destroy"
		  parent="person" 
		  p:name="Ritesh"
		  p:city="Hyderabad"
		  autowire="constructor">
	     <constructor-arg index="1" value="10891328"/>
	     <constructor-arg index="2" value="ritesh.p.kumar@accenture.com"/>
	</bean>
	
	<bean id="address" class="spring.main.Address">
		<property name="city" value="Hyderabad"/>
		<property name="state" value="TS"/>
		<property name="country" value="India"/>
	</bean>
	
	<bean id="javaCollection" class="spring.main.JavaCollection">
	<property name="list">
		<list>
			<value>ListObject01</value>
			<value>ListObject02</value>
			<value>ListObject02</value>
		</list>
	</property>
	<property name="set">
		<set>
			<value>SetObject01</value>
			<value>SetObject02</value>
			<value>SetObject02</value>
		</set>
	</property>
	<property name="map">
		<map>
			<entry key="key01" value="value01"/>
			<entry key="key02" value="value02"/>
		</map>
	</property>
	<property name="props">
		<props>
			<prop key="key01">PropertiesObject01</prop>
			<prop key="key02">PropertiesObject02</prop>
		</props>
	</property>
	</bean>
	
	<bean class="spring.main.InitBean"></bean>
	
</beans>